In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.set_project('us-accident-analysis')
jovian.set_colab_id('1EnXN1Vxm6I6iJMTLJP7BZn9eUUhYfUIM')

     |████████████████████████████████| 68 kB 2.4 MB/s
  Building wheel for uuid (setup.py) ... done

# us-accident-analysis

Use the "Run" button to execute the code.

In [ ]:
!pip install jovian --upgrade --quiet

In [ ]:
import jovian
import numpy as np
import pandas as pd
import csv

In [ ]:
# Execute this to save new versions of the notebook
jovian.commit(project="us-accident-analysis")

[jovian] Detected Colab notebook...
[jovian] Please enter your API key ( from https://jovian.ai/ ):
API KEY: ··········
[jovian] Uploading colab notebook to Jovian...
Committed successfully! https://jovian.ai/tochi-nwachukwu/us-accident-analysis

'https://jovian.ai/tochi-nwachukwu/us-accident-analysis'

In [ ]:
pip install opendatasets --quiet

In [ ]:
import opendatasets as od

In [ ]:
database_url = 'https://www.kaggle.com/sobhanmoosavi/us-accidents'

In [ ]:
od.download(database_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: tochinwachukwu
Your Kaggle Key: ··········
Downloading us-accidents.zip to ./us-accidents

100%|██████████| 290M/290M [00:02<00:00, 136MB/s]

In [ ]:
data = '/content/us-accidents/US_Accidents_Dec20_Updated.csv'

In [ ]:
csv_file = open(data)

In [ ]:
csv_file

## ANALYSIS WITH **PANDAS**

In [ ]:
df_one = pd.read_csv(data)

In [ ]:
df_one.head()

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-1         2  ...               Day                   Day
1  A-2         2  ...               Day                   Day
2  A-3         2  ...             Night                 Night
3  A-4         2  ...               Day                   Day
4  A-5         3  ...               Day                   Day

[5 rows x 47 columns]

In [ ]:
df_one.describe()

           Severity     Start_Lat  ...  Wind_Speed(mph)  Precipitation(in)
count  2.906610e+06  2.906610e+06  ...     2.599447e+06       1.605284e+06
mean   2.288649e+00  3.653027e+01  ...     7.818111e+00       1.119459e-02
std    5.541618e-01  5.013964e+00  ...     5.431171e+00       1.540812e-01
min    1.000000e+00  2.455527e+01  ...     0.000000e+00       0.000000e+00
25%    2.000000e+00  3.366453e+01  ...     4.600000e+00       0.000000e+00
50%    2.000000e+00  3.609977e+01  ...     7.000000e+00       0.000000e+00
75%    3.000000e+00  4.037505e+01  ...     1.040000e+01       0.000000e+00
max    4.000000e+00  4.900220e+01  ...     9.840000e+02       2.400000e+01

[8 rows x 14 columns]

In [ ]:
df_one['Temperature(F)']

0          76.0
1          76.0
2          51.0
3          53.6
4          84.2
           ...
2906605    84.2
2906606    46.9
2906607    76.0
2906608    27.0
2906609    51.1
Name: Temperature(F), Length: 2906610, dtype: float64

In [ ]:
df_one['Temperature(F)']= df_one['Temperature(F)'].apply(lambda a : (a-32)*5/9)

In [ ]:
df_one['Temperature(F)'].head(20)

0     24.444444
1     24.444444
2     10.555556
3     12.000000
4     29.000000
5     23.000000
6     -2.222222
7     12.777778
8     30.611111
9     13.888889
10    13.888889
11     0.000000
12    18.000000
13    36.500000
14    22.222222
15    25.000000
16    25.611111
17    23.888889
18     8.333333
19     7.222222
Name: Temperature(F), dtype: float64

In [ ]:
df_one.rename(columns={'Temperature(F)': 'Temperature(C)'}, inplace=True)

In [ ]:
df_one.head(20)

      ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0    A-1         2  ...               Day                   Day
1    A-2         2  ...               Day                   Day
2    A-3         2  ...             Night                 Night
3    A-4         2  ...               Day                   Day
4    A-5         3  ...               Day                   Day
5    A-6         3  ...               Day                   Day
6    A-7         4  ...               Day                   Day
7    A-8         2  ...             Night                 Night
8    A-9         2  ...               Day                   Day
9   A-10         2  ...               Day                   Day
10  A-11         2  ...               Day                   Day
11  A-12         2  ...               Day                   Day
12  A-13         2  ...               Day                   Day
13  A-14         2  ...               Day                   Day
14  A-15         3  ...               Day                   Day
15  A-16         2  ...               Day                   Day
16  A-17         2  ...               Day                   Day
17  A-18         2  ...               Day                   Day
18  A-19         2  ...               Day                   Day
19  A-20         2  ...               Day                   Day

[20 rows x 47 columns]

SHAPE OF THE MAIN DATA **FRAME**

In [ ]:
df_one.shape

(2906610, 47)

INFO OF THE MAIN DATAFRAME

In [ ]:
df_one.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2906610 entries, 0 to 2906609
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   End_Lat                float64
 7   End_Lng                float64
 8   Distance(mi)           float64
 9   Description            object
 10  Number                 float64
 11  Street                 object
 12  Side                   object
 13  City                   object
 14  County                 object
 15  State                  object
 16  Zipcode                object
 17  Country                object
 18  Timezone               object
 19  Airport_Code           object
 20  Weather_Timestamp      object
 21  Temperature(C)         float64
 22  Wind_Chill(F)          float64
 23  Humidity(%)            float64
 24  Pressure(in)           float64
 25  Visibility(mi)         float64
 26  Wind_Direction         object
 27  Wind_Speed(mph)        float64
 28  Precipitation(in)      float64
 29  Weather_Condition      object
 30  Amenity                bool
 31  Bump                   bool
 32  Crossing               bool
 33  Give_Way               bool
 34  Junction               bool
 35  No_Exit                bool
 36  Railway                bool
 37  Roundabout             bool
 38  Station                bool
 39  Stop                   bool
 40  Traffic_Calming        bool
 41  Traffic_Signal         bool
 42  Turning_Loop           bool
 43  Sunrise_Sunset         object
 44  Civil_Twilight         object
 45  Nautical_Twilight      object
 46  Astronomical_Twilight  object
dtypes: bool(13), float64(13), int64(1), object(20)
memory usage: 790.0+ MB

DESCRIPTION OF THE MAIN DATAFRAME

In [ ]:
df_one.describe()

           Severity     Start_Lat  ...  Wind_Speed(mph)  Precipitation(in)
count  2.906610e+06  2.906610e+06  ...     2.599447e+06       1.605284e+06
mean   2.288649e+00  3.653027e+01  ...     7.818111e+00       1.119459e-02
std    5.541618e-01  5.013964e+00  ...     5.431171e+00       1.540812e-01
min    1.000000e+00  2.455527e+01  ...     0.000000e+00       0.000000e+00
25%    2.000000e+00  3.366453e+01  ...     4.600000e+00       0.000000e+00
50%    2.000000e+00  3.609977e+01  ...     7.000000e+00       0.000000e+00
75%    3.000000e+00  4.037505e+01  ...     1.040000e+01       0.000000e+00
max    4.000000e+00  4.900220e+01  ...     9.840000e+02       2.400000e+01

[8 rows x 14 columns]

## REFINING THE DATA TO CLEAN **MISSING** DATA

In [ ]:
df_one.isnull().sum()

ID                             0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                   282821
End_Lng                   282821
Distance(mi)                   0
Description                    0
Number                   1891672
Street                         0
Side                           0
City                         108
County                         0
State                          0
Zipcode                     1114
Country                        0
Timezone                    3430
Airport_Code                6608
Weather_Timestamp          46917
Temperature(C)             67224
Wind_Chill(F)            1183859
Humidity(%)                71270
Pressure(in)               56908
Visibility(mi)             72078
Wind_Direction             63474
Wind_Speed(mph)           307163
Precipitation(in)        1301326
Weather_Condition          71851
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset               110
Civil_Twilight               110
Nautical_Twilight            110
Astronomical_Twilight        110
dtype: int64

In [ ]:
percent_missing = df_one.isnull().sum()*100/len(df_one)

In [ ]:
percent_missing

ID                        0.000000
Severity                  0.000000
Start_Time                0.000000
End_Time                  0.000000
Start_Lat                 0.000000
Start_Lng                 0.000000
End_Lat                   9.730270
End_Lng                   9.730270
Distance(mi)              0.000000
Description               0.000000
Number                   65.081728
Street                    0.000000
Side                      0.000000
City                      0.003716
County                    0.000000
State                     0.000000
Zipcode                   0.038326
Country                   0.000000
Timezone                  0.118007
Airport_Code              0.227344
Weather_Timestamp         1.614148
Temperature(C)            2.312797
Wind_Chill(F)            40.729888
Humidity(%)               2.451997
Pressure(in)              1.957882
Visibility(mi)            2.479796
Wind_Direction            2.183781
Wind_Speed(mph)          10.567740
Precipitation(in)        44.771263
Weather_Condition         2.471986
Amenity                   0.000000
Bump                      0.000000
Crossing                  0.000000
Give_Way                  0.000000
Junction                  0.000000
No_Exit                   0.000000
Railway                   0.000000
Roundabout                0.000000
Station                   0.000000
Stop                      0.000000
Traffic_Calming           0.000000
Traffic_Signal            0.000000
Turning_Loop              0.000000
Sunrise_Sunset            0.003784
Civil_Twilight            0.003784
Nautical_Twilight         0.003784
Astronomical_Twilight     0.003784
dtype: float64

In [ ]:
missing_value_df = pd.DataFrame({'column_name': df_one.columns, 'percentage missing': percent_missing})

In [ ]:
missing_value_df.head(20)

               column_name  percentage missing
ID                      ID            0.000000
Severity          Severity            0.000000
Start_Time      Start_Time            0.000000
End_Time          End_Time            0.000000
Start_Lat        Start_Lat            0.000000
Start_Lng        Start_Lng            0.000000
End_Lat            End_Lat            9.730270
End_Lng            End_Lng            9.730270
Distance(mi)  Distance(mi)            0.000000
Description    Description            0.000000
Number              Number           65.081728
Street              Street            0.000000
Side                  Side            0.000000
City                  City            0.003716
County              County            0.000000
State                State            0.000000
Zipcode            Zipcode            0.038326
Country            Country            0.000000
Timezone          Timezone            0.118007
Airport_Code  Airport_Code            0.227344

SORTING THE DATAFRAME BY PERCENTAGE OF MISSING VALUES

In [ ]:
missing_value_df.sort_values('percentage missing', inplace=True, ascending=False)

In [ ]:
missing_value_df

                                 column_name  percentage missing
Number                                Number           65.081728
Precipitation(in)          Precipitation(in)           44.771263
Wind_Chill(F)                  Wind_Chill(F)           40.729888
Wind_Speed(mph)              Wind_Speed(mph)           10.567740
End_Lat                              End_Lat            9.730270
End_Lng                              End_Lng            9.730270
Visibility(mi)                Visibility(mi)            2.479796
Weather_Condition          Weather_Condition            2.471986
Humidity(%)                      Humidity(%)            2.451997
Temperature(C)                Temperature(C)            2.312797
Wind_Direction                Wind_Direction            2.183781
Pressure(in)                    Pressure(in)            1.957882
Weather_Timestamp          Weather_Timestamp            1.614148
Airport_Code                    Airport_Code            0.227344
Timezone                            Timezone            0.118007
Zipcode                              Zipcode            0.038326
Sunrise_Sunset                Sunrise_Sunset            0.003784
Civil_Twilight                Civil_Twilight            0.003784
Nautical_Twilight          Nautical_Twilight            0.003784
Astronomical_Twilight  Astronomical_Twilight            0.003784
City                                    City            0.003716
Country                              Country            0.000000
Junction                            Junction            0.000000
Start_Time                        Start_Time            0.000000
End_Time                            End_Time            0.000000
Start_Lat                          Start_Lat            0.000000
Turning_Loop                    Turning_Loop            0.000000
Traffic_Signal                Traffic_Signal            0.000000
Traffic_Calming              Traffic_Calming            0.000000
Stop                                    Stop            0.000000
Station                              Station            0.000000
Roundabout                        Roundabout            0.000000
Railway                              Railway            0.000000
No_Exit                              No_Exit            0.000000
Give_Way                            Give_Way            0.000000
State                                  State            0.000000
Crossing                            Crossing            0.000000
Bump                                    Bump            0.000000
Amenity                              Amenity            0.000000
Start_Lng                          Start_Lng            0.000000
Distance(mi)                    Distance(mi)            0.000000
Description                      Description            0.000000
Street                                Street            0.000000
Side                                    Side            0.000000
Severity                            Severity            0.000000
County                                County            0.000000
ID                                        ID            0.000000

In [ ]:
df_one.dropna(subset=['Number'], inplace=True)

In [ ]:
df_one.shape

(1014938, 47)

In [ ]:
df_one.isnull().sum()

ID                            0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                   72525
End_Lng                   72525
Distance(mi)                  0
Description                   0
Number                        0
Street                        0
Side                          0
City                         29
County                        0
State                         0
Zipcode                      10
Country                       0
Timezone                   1404
Airport_Code               1956
Weather_Timestamp         16111
Temperature(C)            21994
Wind_Chill(F)            382053
Humidity(%)               23619
Pressure(in)              18480
Visibility(mi)            23891
Wind_Direction            21864
Wind_Speed(mph)          101807
Precipitation(in)        425986
Weather_Condition         23762
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset               31
Civil_Twilight               31
Nautical_Twilight            31
Astronomical_Twilight        31
dtype: int64

In [ ]:
df_one['End_Lat'].mode()[0]

25.684322

In [ ]:
df_one['End_Lat'].fillna(df_one['End_Lat'].mode()[0], inplace=True)

In [ ]:
df_one.isnull().sum()

ID                            0
Severity                      0
Start_Time                    0
End_Time                      0
Start_Lat                     0
Start_Lng                     0
End_Lat                       0
End_Lng                   72525
Distance(mi)                  0
Description                   0
Number                        0
Street                        0
Side                          0
City                         29
County                        0
State                         0
Zipcode                      10
Country                       0
Timezone                   1404
Airport_Code               1956
Weather_Timestamp         16111
Temperature(C)            21994
Wind_Chill(F)            382053
Humidity(%)               23619
Pressure(in)              18480
Visibility(mi)            23891
Wind_Direction            21864
Wind_Speed(mph)          101807
Precipitation(in)        425986
Weather_Condition         23762
Amenity                       0
Bump                          0
Crossing                      0
Give_Way                      0
Junction                      0
No_Exit                       0
Railway                       0
Roundabout                    0
Station                       0
Stop                          0
Traffic_Calming               0
Traffic_Signal                0
Turning_Loop                  0
Sunrise_Sunset               31
Civil_Twilight               31
Nautical_Twilight            31
Astronomical_Twilight        31
dtype: int64

In [ ]:
df_one['End_Lng'].fillna(df_one['End_Lng'].mode()[0], inplace = True)

Script to loop through all columns and fill in the misssing values with the Highest occuring value (Mode)

In [ ]:
for item in df_one.columns:
  df_one[item].fillna(df_one[item].mode()[0], inplace = True)

In [ ]:
df_one.isnull().sum()

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
End_Lat                  0
End_Lng                  0
Distance(mi)             0
Description              0
Number                   0
Street                   0
Side                     0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(C)           0
Wind_Chill(F)            0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [ ]:
df_one.head()

      ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0    A-1         2  ...               Day                   Day
1    A-2         2  ...               Day                   Day
8    A-9         2  ...               Day                   Day
10  A-11         2  ...               Day                   Day
13  A-14         2  ...               Day                   Day

[5 rows x 47 columns]

In [ ]:
df_two = df_one.groupby(['State'], as_index = False)['ID'].count()

In [ ]:
type(df_two)

pandas.core.frame.DataFrame

In [ ]:
df_two.describe()

                  ID
count      49.000000
mean    20713.020408
std     32192.178141
min        69.000000
25%      1691.000000
50%      8777.000000
75%     25025.000000
max    170498.000000

In [ ]:
pd.DataFrame(df_two)

   State      ID
0     AL   11480
1     AR    1691
2     AZ   25923
3     CA  170498
4     CO   10250
5     CT    4100
6     DC    2169
7     DE    2569
8     FL  104679
9     GA   15297
10    IA    2396
11    ID    1594
12    IL   33119
13    IN    8777
14    KS     528
15    KY    4367
16    LA   28192
17    MA    8041
18    MD   13236
19    ME     504
20    MI   25025
21    MN   19256
22    MO    3512
23    MS    1184
24    MT    1781
25    NC   66887
26    ND     136
27    NE    7234
28    NH    1624
29    NJ   12608
30    NM    1056
31    NV    2395
32    NY   37153
33    OH   18717
34    OK   22619
35    OR   45345
36    PA   48516
37    RI     956
38    SC   74385
39    SD     155
40    TN   23847
41    TX   86878
42    UT   14111
43    VA   27513
44    VT     293
45    WA   18789
46    WI    2831
47    WV     653
48    WY      69

In [ ]:
df_acc_by_states = df_two.set_index(pd.Index([num for num in range(1, len(df_two)+1)], inplace = True))

In [ ]:
df_acc_by_states.head()

  State      ID
1    AL   11480
2    AR    1691
3    AZ   25923
4    CA  170498
5    CO   10250

In [ ]:
df_acc_by_states.sort_values(by=['ID'], ascending=False)

   State      ID
4     CA  170498
9     FL  104679
42    TX   86878
39    SC   74385
26    NC   66887
37    PA   48516
36    OR   45345
33    NY   37153
13    IL   33119
17    LA   28192
44    VA   27513
3     AZ   25923
21    MI   25025
41    TN   23847
35    OK   22619
22    MN   19256
46    WA   18789
34    OH   18717
10    GA   15297
43    UT   14111
19    MD   13236
30    NJ   12608
1     AL   11480
5     CO   10250
14    IN    8777
18    MA    8041
28    NE    7234
16    KY    4367
6     CT    4100
23    MO    3512
47    WI    2831
8     DE    2569
11    IA    2396
32    NV    2395
7     DC    2169
25    MT    1781
2     AR    1691
29    NH    1624
12    ID    1594
24    MS    1184
31    NM    1056
38    RI     956
48    WV     653
15    KS     528
20    ME     504
45    VT     293
40    SD     155
27    ND     136
49    WY      69

In [ ]:
df_acc_by_states = df_acc_by_states.set_index(pd.Index([num for num in range(1, len(df_acc_by_states)+1)], inplace = True))

In [ ]:
df_acc_by_states.head()

  State      ID
1    AL   11480
2    AR    1691
3    AZ   25923
4    CA  170498
5    CO   10250

In [ ]:
top_acc_states = df_acc_by_states[0:10]

In [ ]:
top_acc_states.sort_values(['ID'],inplace=True, ascending=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
top_acc_states = top_acc_states.set_index(pd.Index([num for num in range(1, len(top_acc_states)+1)], inplace = True))

# TOP TEN STATES WITH HIGHEST RECORDED ACCIDENTS

In [ ]:
top_acc_states

   State      ID
1     CA  170498
2     FL  104679
3     AZ   25923
4     GA   15297
5     AL   11480
6     CO   10250
7     CT    4100
8     DE    2569
9     DC    2169
10    AR    1691

# TOP TEN TIME ZONES WITH HIGHEST RECORDED ACCIDENTS

In [ ]:
df_one.head()

      ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0    A-1         2  ...               Day                   Day
1    A-2         2  ...               Day                   Day
8    A-9         2  ...               Day                   Day
10  A-11         2  ...               Day                   Day
13  A-14         2  ...               Day                   Day

[5 rows x 47 columns]

In [ ]:
df_all_timezones = df_one.groupby(['Timezone'], as_index=False)['ID'].count()

In [ ]:
df_all_timezones

      Timezone      ID
0   US/Central  240303
1   US/Eastern  477140
2  US/Mountain   59266
3   US/Pacific  238229

In [ ]:
df_one['Timezone'].value_counts()

US/Eastern     477140
US/Central     240303
US/Pacific     238229
US/Mountain     59266
Name: Timezone, dtype: int64

In [ ]:
df_all_timezones.sort_values(by=['ID'], ascending=False, inplace = True)

In [ ]:
df_all_timezones.head()

      Timezone      ID
1   US/Eastern  477140
0   US/Central  240303
3   US/Pacific  238229
2  US/Mountain   59266

In [ ]:
df_all_timezones = df_all_timezones.set_index(pd.Index([num for num in range(1, len(df_all_timezones)+1)], inplace = True))

In [ ]:
df_all_timezones

      Timezone      ID
1   US/Eastern  477140
2   US/Central  240303
3   US/Pacific  238229
4  US/Mountain   59266

In [ ]:
df_one.head(2)

    ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0  A-1         2  ...               Day                   Day
1  A-2         2  ...               Day                   Day

[2 rows x 47 columns]

In [ ]:
df_weather_conditions = df_one.groupby(['Weather_Condition'], as_index=False)['ID'].count()

In [ ]:
df_weather_conditions.sort_values(['ID'], ascending=False, inplace=True)

TOP TEN WEATHER CONDITIONS RECORDED IN DIFFERENT WEATHER CONDITIONS

In [ ]:
df_weather_conditions= df_weather_conditions.set_index(pd.Index([num for num in range(1, len(df_weather_conditions)+1)], inplace=True))

In [ ]:
df_weather_conditions[0:10]

   Weather_Condition      ID
1               Fair  286938
2              Clear  166785
3      Mostly Cloudy  132714
4             Cloudy   92390
5      Partly Cloudy   91575
6           Overcast   81890
7         Light Rain   44823
8   Scattered Clouds   40902
9                Fog   14103
10        Light Snow   12135

## TOP TEN ACCIDENTS RECORDED IN DIFFERENT WIND DIRECTIONS

In [ ]:
df_wind_directions = df_one.groupby(['Wind_Direction'], as_index=False)['ID'].count()

In [ ]:
df_wind_directions.head(10)

  Wind_Direction      ID
0           CALM  131259
1           Calm   75595
2              E   30538
3            ENE   36578
4            ESE   33742
5           East   20783
6              N   33139
7             NE   37678
8            NNE   36811
9            NNW   43453

In [ ]:
df_wind_directions = df_wind_directions.set_index(pd.Index([num for num in range (1, len(df_wind_directions)+1)], inplace=True))

In [ ]:
df_wind_directions.head()

  Wind_Direction      ID
1           CALM  131259
2           Calm   75595
3              E   30538
4            ENE   36578
5            ESE   33742

## CREATING A DATAFRAME FOR BOOLEAN FEATURES

In [ ]:
df_one.head()

      ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0    A-1         2  ...               Day                   Day
1    A-2         2  ...               Day                   Day
8    A-9         2  ...               Day                   Day
10  A-11         2  ...               Day                   Day
13  A-14         2  ...               Day                   Day

[5 rows x 47 columns]

In [79]:
df_boolean = df_one[['Amenity','Bump','Crossing', 'Give_Way', 'Junction',	'No_Exit',	'Railway',	'Roundabout','Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop','Sunrise_Sunset','Civil_Twilight','Nautical_Twilight','Astronomical_Twilight' ]]

In [80]:
df_boolean.head()

    Amenity   Bump  ...  Nautical_Twilight  Astronomical_Twilight
0     False  False  ...                Day                    Day
1     False  False  ...                Day                    Day
8     False  False  ...                Day                    Day
10    False  False  ...                Day                    Day
13    False  False  ...                Day                    Day

[5 rows x 17 columns]

In [92]:
df_bool_columns = df_boolean.columns

In [84]:
pd.DataFrame.corr(df_boolean)

                  Amenity      Bump  ...  Traffic_Signal  Turning_Loop
Amenity          1.000000  0.003919  ...        0.102254           NaN
Bump             0.003919  1.000000  ...       -0.009893           NaN
Crossing         0.124297  0.011151  ...        0.398277           NaN
Give_Way         0.005212 -0.000987  ...        0.028587           NaN
Junction        -0.005037  0.000096  ...       -0.029654           NaN
No_Exit          0.013559  0.046528  ...        0.027401           NaN
Railway          0.044130 -0.001516  ...        0.050910           NaN
Roundabout      -0.000303 -0.000200  ...       -0.005695           NaN
Station          0.168832  0.001084  ...        0.115242           NaN
Stop             0.022656  0.016403  ...       -0.094516           NaN
Traffic_Calming  0.010492  0.735779  ...       -0.004230           NaN
Traffic_Signal   0.102254 -0.009893  ...        1.000000           NaN
Turning_Loop          NaN       NaN  ...             NaN           NaN

[13 rows x 13 columns]

In [95]:
df_one.head()

      ID  Severity  ... Nautical_Twilight Astronomical_Twilight
0    A-1         2  ...               Day                   Day
1    A-2         2  ...               Day                   Day
8    A-9         2  ...               Day                   Day
10  A-11         2  ...               Day                   Day
13  A-14         2  ...               Day                   Day

[5 rows x 47 columns]

In [103]:
df_categorical = df_one[['City', 'County', 'State', 'Country', 'Timezone', 'Weather_Timestamp', 'Airport_Code', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']]

In [104]:
df_one.dtypes

ID                        object
Severity                   int64
Start_Time                object
End_Time                  object
Start_Lat                float64
Start_Lng                float64
End_Lat                  float64
End_Lng                  float64
Distance(mi)             float64
Description               object
Number                   float64
Street                    object
Side                      object
City                      object
County                    object
State                     object
Zipcode                   object
Country                   object
Timezone                  object
Airport_Code              object
Weather_Timestamp         object
Temperature(C)           float64
Wind_Chill(F)            float64
Humidity(%)              float64
Pressure(in)             float64
Visibility(mi)           float64
Wind_Direction            object
Wind_Speed(mph)          float64
Precipitation(in)        float64
Weather_Condition         object
Amenity                     bool
Bump                        bool
Crossing                    bool
Give_Way                    bool
Junction                    bool
No_Exit                     bool
Railway                     bool
Roundabout                  bool
Station                     bool
Stop                        bool
Traffic_Calming             bool
Traffic_Signal              bool
Turning_Loop                bool
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
dtype: object

## DATAFRAME TO CONTAIN ALL CATEGORICAL DATA

In [106]:
df_categorical.head()

          City        County  ... Nautical_Twilight Astronomical_Twilight
0   Greenville    Greenville  ...               Day                   Day
1    Charlotte   Mecklenburg  ...               Day                   Day
8     Franklin    Williamson  ...               Day                   Day
10       Dover  Hillsborough  ...               Day                   Day
13      Tucson          Pima  ...               Day                   Day

[5 rows x 10 columns]